<!DOCTYPE html>
<html>
<head>
    <title>Dashboard BI</title>
    <!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="topo"> <!--Essa parte é o cabeçalho -->

    <h1>DASHBOARD BI</h1>

    <a href="/"> Interface DW </a> <!-- Link para o DW -->

</div> <!-- Fim do cabeçalho -->

<div class="parte1"> <!-- Parte dos KPIs / métricas-->
    <div class="kpis">

        <div class="kpi">
            <h2>{{ kpis[0].total_mov }}</h2>
            <p>Movimentações</p>
        </div>

        <div class="kpi">
            <h2>R$ {{ kpis[0].receita }}</h2>
            <p>Receita</p>
        </div>

        <div class="kpi">
            <h2>{{ kpis[0].produtos }}</h2>
            <p>Produtos</p>
        </div>

    </div>
</div> <!-- Fim dos KPIs / métricas-->

<div class="parte2">

    <div class="quadradinho">
        <div class="conteudo-grafico">
            <h1>Top 5 Produtos Mais Vendidos</h1>

            {{ grafico_barra | safe }}
        </div>
    </div>

    <div class="quadradinho">
        <div class="conteudo-grafico">
            <h1>Entrada vs Saídas</h1>

            {{ grafico_rosca | safe }}
        </div>
    </div>

</div>


<!-- <div class="lista">

<h2>TOP 5 PRODUTOS</h2>

{% for p in top_produtos %}

<div class="produto"
     onclick="abrirModal('{{p.descricao_prod}}')">

    {{ p.descricao_prod }}
    - {{ p.total }}

</div>

{% endfor %}

</div>


<div id="modal" class="modal">

<div class="modal-content">

<span class="fechar"
      onclick="fecharModal()">

X

</span>

<div id="conteudoModal"></div>

</div>

</div> -->

</script>
</body>
</html>